@model List<Product>


<div class="container">
    <div class="row pt-2">
        <div class="col-6">
            <h2>Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" asp-controller="Product" class="btn btn-sm btn-primary" style="border-radius: 8px"><i class="bi bi-plus-circle"></i> Create New Product</a>
        </div>
    </div>
</div>


<table id="tblData" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>FoodName</th>
            <th>FoodCode</th>
            <th>Price</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
   
</table>

@section Scripts{
    <script src="~/js/product.js"></script>
}
